{% extends "base.html" %}

{% block content %}
    <div class="container p-5">
      <h2 class="mb-3 fw-bolder">Single Student Scoring</h2>
      <h3>Input Parameter Penilaian Esai Otomatis</h3>
      <form method="POST">
        {% csrf_token %}
        <table class="table-sm">
          <tr>
            <td>Nama</td>
            <td>: {{ nama }}</td>
          </tr>
          {{ form }}
          <tr>
            <td><input type="submit" name="submit" value="Start Scoring" class="btn btn-primary"></td>
            
          </tr>
        </table>
      </form>
      
      
      <div class="table mt-5">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">No. Soal</th>
              <th scope="col" width="42%">Jawaban Siswa</th>
              <th scope="col" width="42%">Kunci Jawaban</th>
              <th scope="col">Bobot</th>
            </tr>
          </thead>
          <tbody>
            {% for w,x,y,z in data %}
            <tr scope="row">
              <td rowspan="2" class="text-center align-middle">{{ forloop.counter }}</td>
              <td colspan="3">{{ w }}</td>
            </tr>
            <tr>
              <td>{{ y }}</td>
              <td>{{ x }}</td>
              <td>{{ z }}</td>
            </tr>
              
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock content %}