{% extends "base.html" %}

{% block content %}
    <div class="container p-5">
        <h2 class="mb-3 fw-bolder">Single Student Scoring</h2>
        <form method="POST">
          {% csrf_token %}
          <p>Masukkan Soal dan Bobot Soal Sesuai Nomor:</p>
          {% for j in range %}
          <div class="row mb-3">
            <div class="col-10">
              <div class="input-group">
                <div class="input-group-text">{{ j }}</div>
                <textarea name="soal" id="soal" class="form-control" rows="1" placeholder="Soal" required></textarea>
              </div>
            </div>
            
            <div class="col">
              <input type="number" name="bobot" id='bobot' class="form-control" placeholder="Bobot Soal" required>
            </div>
          </div>
          {% endfor %}
          <input type="submit" name="Submit" class="btn btn-primary">
        </form>
    </div>
{%endblock content %}