{% extends "base.html" %}

{% block content %}
    <div class="container p-5">
      <h2 class="fw-bolder">Single Student Scoring</h2>

      <h3>Hasil Penilaian Esai Otomatis menggunakan Metode Rabin Karp</h3>
      <table class="table">
        <tr>
          <td>Nama</td>
          <td>: {{ nama }}</td>
        </tr>
        <tr>
          <td>Nilai K</td>
          <td>: {{ kValue }}</td>
        </tr>
        <tr>
          <td>Nilai b</td>
          <td>: {{ bValue }}</td>
        </tr>
        <tr>
          <td>Synonym Recognition</td>
          <td>: {{ synonym }}</td>
        </tr>
        <tr class="fw-bolder">
          <td>Hasil Nilai</td>
          <td>: {{ nilai }}</td>
        </tr>
      </table>
      
      <div class="table-responsive mt-5">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">No. Soal</th>
              <th scope="col" width="28%">Jawaban Siswa</th>
              <th scope="col" width="28%">Kunci Jawaban</th>
              <th scope="col" width="28%">Similarity</th>
              <th scope="col">Bobot</th>
            </tr>
          </thead>
          <tbody>
            {% for a, b, c, d in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ a }}</td>
              <td>{{ b }}</td>
              <td>{{ c }}</td>
              <td>{{ d }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock content %}